<svg:svg x="0" y="0">
    <svg:svg aaNavigation x="0" y="0" [attr.width]="config.sinceConfig.width" height="24" [config]="config.sinceConfig"
             (fromNavigationShowMonths)="onShowMonths('since')" (fromNavigationShowYears)="onShowYears('since')"
             (fromNavigationPrevYear)="onPrevYear('since')" (fromNavigationPrevMonth)="onPrevMonth('since')"
             (fromNavigationNextMonth)="onNextMonth('since')" (fromNavigationNextYear)="onNextYear('since')">
    </svg:svg>
    <svg:svg aaCalendar [config]="config.sinceConfig" (fromCalendarDateChanged)="onDateChanged($event, 'since')">
    </svg:svg>
    <svg:svg aaTools [config]="config.sinceConfig" (fromToolsToday)="onToday('since')"
             (fromToolsOptions)="onOptions('since')" (fromToolsSubmit)="onSubmit()">
    </svg:svg>
</svg:svg>
<svg:svg [attr.x]="config.sinceConfig.width + config.spacing" y="0">
    <svg:svg aaNavigation x="0" y="0" [attr.width]="config.untilConfig.width" height="24" [config]="config.untilConfig"
             (fromNavigationShowMonths)="onShowMonths('until')" (fromNavigationShowYears)="onShowYears('until')"
             (fromNavigationPrevYear)="onPrevYear('until')" (fromNavigationPrevMonth)="onPrevMonth('until')"
             (fromNavigationNextMonth)="onNextMonth('until')" (fromNavigationNextYear)="onNextYear('until')">
    </svg:svg>
    <svg:svg aaCalendar [config]="config.untilConfig" (fromCalendarDateChanged)="onDateChanged($event, 'until')">
    </svg:svg>
    <svg:svg aaTools [config]="config.untilConfig" (fromToolsToday)="onToday('until')"
             (fromToolsOptions)="onOptions('until')" (fromToolsSubmit)="onSubmit()">
    </svg:svg>
</svg:svg>
